body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.hidden{
    display: none;   
}
.main-container {
    margin-left: 45px;
    margin-top: 30px;
}
.logo {
    width: 156px;
    height: 78px;
    margin-bottom: 20px;
}
.icon-plus {
    margin-left: 10px;
    color: #00A89D;
}

.add-button {
    cursor: pointer;
}

.add-form {
    margin-bottom: 10px;
}

.add-component {
    margin-top: 15px;
    display: inline-block;
}

.task-component {
    margin-bottom: 10px;
    display: block;
}

.big-font {
    font-size: 23px;
}

.add-padding {
    margin-left: 40px;
}