body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.hidden{
    display: none !important;
}

.line-through {
    text-decoration: line-through;
}
.main-container {
    margin-left: 45px;
    margin-top: 30px;
}
.logo {
    width: 156px;
    height: 78px;
    margin-bottom: 20px;
}
.icon-plus {
    margin-left: 10px;
    color: #00A89D;
}

.icon-bin {
    color: darkred;
    font-size: 22px;
    bottom: 1px;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
}

.add-button {
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    color: gray;
}

.add-form {
    margin-bottom: 10px;
}

.add-component {
    margin-top: 15px;
    display: inline-block;
}

.task-component {
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.big-font {
    font-size: 23px;
}

.add-padding {
    margin-left: 40px;
    margin-top: 10px;
}

.done-button {
    border: 1px solid black;
    border-color: black;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding: 6px;
    border-radius: 9px;
    cursor: pointer;
    bottom: 4px;
    position: relative;
}

.done-button:hover {
    background-color: lightgray;
}

.task-component-actions {
    display: inline;
    margin-left: 7px;
    position: absolute;
}

.icon-checkmark {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: #00A89D;
}